@use "animations";
@use "transitions";

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
  /* --background-start-rgb: 216, 199, 183; */
  /* --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    var(--colors-white),
    var(--colors-gray-200)
  );

  min-height: 100vh;
  min-width: 320px;
  @apply font-sans;

}

hr {
  /* border-color: var(--colors); */
  @apply border-gray-200;
}